<% include partial/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%=postContent.title%></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centred rounded image" src="<%=postContent.image%>">
            <div class="content">
                <span><%=postContent.created.toDateString()%></span>
            </div>
            <div class="description">
                <p><%-postContent.body%></p>
            </div>
            <form action="/blog/<%=postContent._id%>/delete?_method=DELETE" id="delete" class="ui form" method="POST">
                <button class="ui red button basic">Delete</button>
            </form>
            <a href="/blog/<%=postContent._id%>/edit/" class="ui orange basic button">Edit</a>
        </div>
    </div>
</div>
<% include partial/footer %>
